<% provide(:title, 'Deals of the Week') %>

<center><h1><strong>Deals of the Week</strong></h1><h5>(July 4th, 2014 - July 10th, 2014)</h5></center>

<!-- mini navbar -->
<ul class="nav nav-pills">
  <li><a href="#bestbuy"><%= image_tag "bestbuy_logo.png" %></a></li>
  <li><a href="#ebgames"><%= image_tag "ebgames_logo.png" %></a></li>
  <li><a href="#futureshop"><%= image_tag "futureshop_logo.png" %></a></li>
  <li><a href="#target"><%= image_tag "target_logo.png" %></a></li>
  <li><a href="#thesource"><%= image_tag "thesource_logo.png" %></a></li>
  <li><a href="#walmart"><%= image_tag "walmart_logo.png" %></a></li>
  <li><a href="#psn"><%= image_tag "psn_logo.png" %></a></li>
  <li><a href="#xboxlive"><%= image_tag "xboxlive_logo.png" %></a></li>
</ul>

<!-- start of accordion -->
<div class="panel-group" id="accordion">

<!-- Bestbuy -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseOne">
          <div id="bestbuy"> <%= @bestbuy.name.upcase %> (<%= @bestbuy.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @bestbuy.dotws.any? %>
      		<% (@bestbuy.dotws.ids).each do |i| %>
      			<ul>
      				<% if @bestbuy.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @bestbuy.dotws.find(i).content %></strong> <samp><%= @bestbuy.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @bestbuy.dotws.find(i).content %></strong> <samp><%= @bestbuy.dotws.find(i).platform %></samp> <span class="price">($<%= @bestbuy.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>	
      		<a href="#">Source</a>
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- EB Games -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseTwo">
          <div id="ebgames"> <%= @ebgames.name.upcase %> (<%= @ebgames.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @ebgames.dotws.any? %>
      		<% (@ebgames.dotws.ids).each do |i| %>
      			<ul>
      				<% if @ebgames.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @ebgames.dotws.find(i).content %></strong> <samp><%= @ebgames.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @ebgames.dotws.find(i).content %></strong> <samp><%= @ebgames.dotws.find(i).platform %></samp> <span class="price">($<%= @ebgames.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>	
      		<a href="#">Source</a>
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- Future Shop -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseThree">
          <div id="futureshop"> <%= @futureshop.name.upcase %> (<%= @futureshop.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @futureshop.dotws.any? %>
      		<% (@futureshop.dotws.ids).each do |i| %>
      			<ul>
      				<% if @futureshop.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @futureshop.dotws.find(i).content %></strong> <samp><%= @futureshop.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @futureshop.dotws.find(i).content %></strong> <samp><%= @futureshop.dotws.find(i).platform %></samp> <span class="price">($<%= @futureshop.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>	
      		<a href="#">Source</a>
      	<% end %>
       </div>
     </div>
  </div>
  
<!-- Target -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseFour">
          <div id="target"> <%= @target.name.upcase %> (<%= @target.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @target.dotws.any? %>
      		<% (@target.dotws.ids).each do |i| %>
      			<ul>
      				<% if @target.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @target.dotws.find(i).content %></strong> <samp><%= @target.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @target.dotws.find(i).content %></strong> <samp><%= @target.dotws.find(i).platform %></samp> <span class="price">($<%= @target.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>
      		<a href="#">Source</a>	
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- The Source -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseFive">
          <div id="thesource"> <%= @thesource.name.upcase %> (<%= @thesource.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @thesource.dotws.any? %>
      		<% (@thesource.dotws.ids).each do |i| %>
      			<ul>
      				<% if @thesource.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @thesource.dotws.find(i).content %></strong> <samp><%= @thesource.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @thesource.dotws.find(i).content %></strong> <samp><%= @thesource.dotws.find(i).platform %></samp> <span class="price">($<%= @thesource.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>
      		<a href="#">Source</a>	
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- Wal-Mart -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseSix">
          <div id="walmart"> <%= @walmart.name.upcase %> (<%= @walmart.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @walmart.dotws.any? %>
      		<% (@walmart.dotws.ids).each do |i| %>
      			<ul>
      				<% if @walmart.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @walmart.dotws.find(i).content %></strong> <samp><%= @walmart.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @walmart.dotws.find(i).content %></strong> <samp><%= @walmart.dotws.find(i).platform %></samp> <span class="price">($<%= @walmart.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>	
      		<a href="#">Source</a>
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- PSN -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseSeven">
          <div id="psn"> <%= @psn.name.upcase %> (<%= @psn.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse in">
      <div class="panel-body">
        <% if @psn.dotws.any? %>
      		<% (@psn.dotws.ids).each do |i| %>
      			<ul>
      				<% if @psn.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @psn.dotws.find(i).content %></strong> <samp><%= @psn.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @psn.dotws.find(i).content %></strong> <samp><%= @psn.dotws.find(i).platform %></samp> <span class="price">($<%= @psn.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>	
      		<a href="#">Source</a>
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- XBOX Live -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseEight">
          <div id="xboxlive"> <%= @xboxlive.name.upcase %> (<%= @xboxlive.dotws.count %>)</div>
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse in">
      <div class="panel-body">
      	<% if @xboxlive.dotws.any? %>
      		<% (@xboxlive.dotws.ids).each do |i| %>
      			<ul>
      				<% if @xboxlive.dotws.find(i).price == 0.0 %>
      					<li><strong><%= @xboxlive.dotws.find(i).content %></strong> <samp><%= @xboxlive.dotws.find(i).platform %></samp></li>
      				<% else %>
      					<li><strong><%= @xboxlive.dotws.find(i).content %></strong> <samp><%= @xboxlive.dotws.find(i).platform %></samp> <span class="price">($<%= @xboxlive.dotws.find(i).price %>)</span></li>
      				<% end %>
      			</ul>	
      		<% end %>
      		<a href="#">Source</a>	
      	<% end %>
      </div>
    </div>
  </div>
  
<!-- end of accordion -->
</div>