<% provide(:title, 'Deals of the Week') %>
<h1>Weekly Deals</h1>
<p>
	Deals of the week from major retailers
	<br>
	<%= @bestbuy.name.upcase %>
	<br>
	<%= @ebgames.name.upcase %>
	<br>
	<%= @futureshop.name.upcase %>
	<br>
	<%= @target.name.upcase %>
	<br>
	<%= @thesource.name.upcase %>
	<br>
	<%= @walmart.name.upcase %>
	<br>
	<%= @psn.name.upcase %>
	<br>
	<%= @xboxlive.name.upcase %>
</p>
